* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color: #7871ff;
}

.container {
    padding: 10px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 4%;
}

.box1 {
    width: 25%;
    float: left;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 50px;
}

.box2 {
    width: 25%;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 53px;
}

.box3 {
    padding: 20px;
    width: 25%;
    float: left;
    margin-top: 50px;
    padding-bottom: 67px;
}

.clear {
    clear: both;
}

.box1 h1, .box2 h1, .box3 h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

.box1, .box2, .box3, :hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.box1, .box2, .box3, :hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}