/* ******** HEADER ******** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

span {
    color: red;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: black; 
    padding: 10px 0;
    border-bottom: 1px solid rgb(140, 150, 166,0.5);
}

.nav-links .nav-link {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.nav-links .nav-link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links .nav-link a:hover {
    color: red;
    transition: 0.3s;
}

.logo {
    align-self: center;
    width: 150px;
    height: 60px;
}

.logo h1 a img {
    width: 100%;
}



#rest {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar {
    align-self : center;
}

.btn {
    align-self: center;
}


/* ******** HAMBURGER MANU ********  */

/* ******** HAMBURGER MANU END ********  */

/* ******** HEADER END ******** */

/* ******** BODY ******** */

/* --------INDEX-------- */

.sec1 {
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1593124447871-cf7f95eb1d02?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhhbWJ1cmdlciUyMGFuZCUyMGZyaWVzfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000");
    align-items: center;
}

.hero-sec button {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.btn1 {
    padding: 3px;
    margin-top: 10px;
}

.hero-sec {
    margin-left:20%;
    color: white;
    width: 30%;
    font-size: x-large;
}

.hero-sec p {
    font-size: medium;
}

#para1 {
    display: flex;
    letter-spacing: 0.5em;
}

.sec2 {
    height: 50vh;
    background-color: black;
}

.sec2 h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-top: 30px;
}

.img-container p {
    color: white;
    text-align: center;
    font-weight: bolder;
}

.hero-mid {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.img-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    height: 90%;
}

.img-container:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}

.img2 img {
    margin-left: -110px;
}

.img3 img {
    margin-left: -60px;
}

.img5 img {
    margin-left: -140px;
}

.hero-mid2 {
    display: flex;
}

.imag1 {
    width: 50%;
}

.imag1 img {
    height: 100%;
}

.imag1 img {
    width: 100%;
}

.txt1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    color: white;
}

.txt1 div {
    width: 40%;
}

.txt1 div h2 {
    padding: 20px 0;
}

.txt1 div button {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.txt1 div h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-link {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

 #para2 {
    color: red;
    font-weight: bold;
    letter-spacing: 0.4em;
}

.sec5 .imag1 {
    background-color: #0f0f0f;
}

.txt1 #para3 {
    font-size: small;
}

.btn-link {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

button {
    border: none;
}

.btn-link:hover {
    color: red;
    background-color: white;
    transition: 0.3s;
}

.btn-link1 {
    text-decoration: none;
    color: white;
    background-color: rgb(111,110,104, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.btn-link1:hover {
    color: red;
    background-color: white;
    transition: 0.3s;
}

.hero-mid3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    height: 300px;
    width: 400px;
}

.boxs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec4 {
    background-color: black;
    color: white;
}

.hero-mid3 {
    height: 100vh;
   
}

.sec4 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: x-large;
}

.boxs-box {
    /* border: 1px solid green; */
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
}

.boxs-box :hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.boxs-box img {
    width: 100%;
}

.bx2 img {
    margin-top: -150px;
    background-color: white;
}

.bx3 img {
    margin-top: -120px;
}

.bx4 img {
    margin-top: -60px;
}

.bx5 img {
    margin-top: -80px;
}

.bx1 img {
    width: 130%;
    margin-left: -60px;
    margin-top: -20px;
}

.txt2 {
    text-align: center;
}

.txt2 p {
    padding: 10px;
    font-size: smaller;
}

.gap {
    height: 7vh;
    background-color: black ;
}

/* --------INDEX END-------- */

/* --------BRANCHES-------- */

.brn-main {
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.brn-logo {
    margin-top: 100px;
    width: 500px;
    border-right: 1px solid red;
    height: 80%;
    text-align: center;
}

.brn-logo a {
    text-decoration: none;
    color: white;
} 

.brn-logo .brn-logo2 {
    background-color: red;
    padding: 7px 5px;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
}

.brn-logo p {
    padding: 10px 0;
    color: white;
}

.brn-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.brn-box div {
    border: 1px solid red;
    width: 150px;
}

/* --------BRANCHES END-------- */

/* --------PUBLICATIONS-------- */

.pub-sec {
    background-color: black;
}

.pub-main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 150px;
}

.pub-imgs img {
    width: 100%;
}

.pub-imgs img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.6s;
    transition-delay: 0.1s;
}

.pub-imgs {
    border: 1px solid rgb(140, 150, 166,0.5);
    width: 500px;
    height: 500px;
}

.pub-txt {
    text-align: center;
    width: 50%;
    margin: 0px auto;
    padding: 50px 0;
    color: white;
}

.pub-txt ul li {
    list-style: none;
    padding: 8px 0;
}

.pub-txt .main {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
}

.pub-txt strong {
    font-size: 20px;
}

.pub-txt ul li {
    font-size: 12px;
}

/* --------PUBLICATIONS END-------- */


/* ******** BODY END ******** */

/* ******** FOOTER ******** */

.disc h3 a {
    color: white;
    text-decoration: none;
}

.disc {
    width: 30%;
    margin-left: 100px;
}

.disc h3 img {
    width: 60%;
}

.disc p {
    padding-top: 10px;
    font-size: smaller;
}

.sec6 {
    height: 50vh;
    background-color: #0f0f0f;
    color: white;
}

.footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style: none;
}

.footer-li1 {
    margin-left: 10px;
    margin-right: 10px;
}

strong {
    font-size: medium;
}

.sec6 ul li {
    list-style: none;
    padding: 6px 0;
    font-size: x-small;
}

.footer-li3 {
    margin-left: 10px;
}

.footer-li3 ul li i {
    font-size: 20px;
    cursor: pointer;
}

.main {
    color: red;
}

/* --------ABOUT-------- */


/* --------ABOUT END-------- */

/* ******** FOOTER END ******** */

/* ******** MEDIA QUERIES ********  */

/* ******** MEDIA QUERIES END ******** */